{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header">
                Search
            </div>
            <div class="card-body">
                <form>
                    <!-- Form fields here -->
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card mb-4">
            <div class="card-header">
                Balance
            </div>
            <div class="card-body">
                <p>GNT</p>
                <ul>
                    <li>All</li>
                    <li>Ayer: 73</li>
                    <li>Ayer G: 159</li>
                    <li>Ayer G AP-B2: 1</li>
                    <li>B.Pomfret W: 2</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                Cold Store In
            </div>
            <div class="card-body">
                <p>GNT</p>
                <ul>
                    <li>All</li>
                    <li>Ayer: 73</li>
                    <li>Ayer G: 159</li>
                    <li>Ayer G AP-B2: 1</li>
                    <li>B.Pomfret W: 2</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
